{% extends "myapp/base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<h1>Your shopping cart</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url}}
                    {% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
                <form action="{% url "cart_add" product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Update">
                {% csrf_token %}
                </form>
                </td>
            <td>
                <form action="{% url 'cart_remove' product.id %}" method="POST">
                    <input type="submit" value="Remove">
                    {% csrf_token %}
                </form>
            </td>
            <td class="num">TZS {{ item.price|intcomma }}</td>
            <td class="num">TZS {{ item.total_price|intcomma }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">TZS {{ cart.get_total_price|intcomma }}</td>
        </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url 'gallery' %}" class="button
    light">Continue shopping</a>
    <a href="{% url 'order_create' %}" class="button">
        Checkout
    </a>
</p>
{% endblock %}