{% extends 'myapp/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<!--<section class="section">
    <div class="container">
        <div class="box has-background-light">
        <div class="columns justify-content-center">
            <div class="column is-3">1</div>
            <div class="column is-3">2</div>
            <div class="column is-3">3</div>
            <div class="column is-3">4</div>
        </div>
        </div>
    </div>
</section>-->

<div class="row">
    {% for product in products %}
    <div class="col-md-3">
        
        <a href="{{product.get_absolute_url}}">
            <img class="image-thumbail text-center" src="{{product.image.url}}" alt="Card image cap">

            
                <p style="text-align: center;">{{product.name}}</p>
                <p style="text-align: center;">TZS {{product.price|intcomma}}</p>
          
        </a>
        </div>

    {% empty %}
    <h3>No Products...</h3>
    {% endfor %}

</div>
 
{% endblock %}

